@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@700&display=swap');

body {
  padding: 0 auto;
  font-family: 'Source Code Pro';
}

.form-wrappper {
  display: flex;
  flex-direction: column;
  margin: 5rem;
  height: 70vh;
  justify-content: center;
  align-items: center;
}

#form{
  display: grid;
  justify-content: left;
  grid-template-rows: 3vh;
  width: 100%;
  margin: 5%;
}

#submit {
  width: 50%;
}

.output {
  display: flex;
  position: relative;
  margin: 5vh;
  width: 80%;
  height: 90%;
  overflow: auto;
}